* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

#root {
    display: flex;
    flex-direction: column;
}

#layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: yellow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;

    > a {
        color: black;
        text-decoration: none;
    }

    .cantidad-carrito {
        position: absolute;
        top: 10%;
    }
}

#layout-header nav a {
    margin-left: 1rem;
    color: black;
    text-decoration: none;
    padding: 0 0.5rem;

    /* &.active {
        color: red;
    } */
}

main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    padding: 0.5rem;
    background-color: yellow;
    text-align: center;
    font-size: 0.8rem;
}

.productos {
    /* display: flex;
    flex-wrap: wrap;
 */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    article {
        /* margin: 0.5rem; */
        padding: 0.5rem;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        cursor: pointer;
        object-fit: cover;

        h2 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            margin: 10px 0;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
        }

        .container-ver-detalle {
            display: flex;
            justify-content: center;

            .ver-detalle {
                background-color: yellow;
                text-decoration: none;
                color: black;
                padding: 0.5rem 1rem;
                border-radius: 3px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
                text-transform: capitalize;
            }
        }
    }
}

.itemDetail {
    display: flex;
    img {
        display: flex;
        width: 35vw;
        height: 80vh;
        padding: 2rem;
        margin: 2rem;
        font-size: 1rem;
        border-right: 1px solid #444;
        object-fit: cover;
    }
    .titulos {
        grid-area: titulo;
        margin: 1rem;
        h3 {
            font-size: 2rem;
        }
        .rates {
            display: flex;
            align-items: center;
        }
        .precio {
            margin: 1rem 0;
            font-size: 1.5rem;
        }
        .descripcion {
            grid-area: descripcion;
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    }
}
